@tailwind base;
@tailwind components;
@tailwind utilities;

/* データテーブル */
.datatable-container {
  @apply -mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto
}
.datatable-inner {
  @apply inline-block min-w-full shadow rounded-lg overflow-hidden
}
.datatable {
  @apply min-w-full leading-normal
}
.datatable-thead-tr-th {
  @apply px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600 uppercase tracking-wider
}
.datatable-tbody-tr-td {
  @apply px-5 py-5 border-b border-gray-200 bg-white
}
.pagenation-container-forword {
  @apply px-5 py-2 flex flex-col justify-end items-center
}
.pagenation-container {
  @apply px-5 py-5 bg-white border-t flex flex-col items-center
}
.pagenation-inner {
  @apply inline-flex mt-2
}
.pagenation-btn-prev {
  @apply text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l
}
.pagenation-btn-next {
  @apply text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r
}
.td-tmp {
  min-width: 200px;
}
.td-url {
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.td-tip {
  min-width: 180px;
}
.td-tip2 {
  min-width: 80px;
}

/* tips */
.rts-tip-container {
  @apply relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight
}
.rts-tip-bg {
  @apply absolute inset-0 bg-green-200 opacity-50 rounded-full
}
.likes-tip-container {
  @apply relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight
}
.likes-tip-bg {
  @apply absolute inset-0 bg-red-200 opacity-50 rounded-full
}
.status-tip-container {
  @apply relative inline-block px-3 py-1 font-semibold text-blue-900 leading-tight
}
.status-tip-bg {
  @apply absolute inset-0 bg-blue-200 opacity-50 rounded-full
}

/* フォーム */
.form-input {
  @apply w-full h-10 px-3 mt-1 mb-2 text-base text-gray-700 placeholder-gray-400 border rounded-lg focus:outline-none
}

/* ボタン */
.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
